.dark-bg {
  background-color: rgba(47, 48, 58, 0.8);
}
.page-footer {
  background-color: $color-dark-bg;
}

.white-cl {
  color: $color-primary-bg;
}
.color-contacts-footer {
  color: $color-contacts-footer-text;
}
