.contacts-header {
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
    text-align: center;
    
  }
  @media screen and (min-width: $tablet) {
    
      }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
     .contacts-header__item + .contacts-header__item {
  margin-left: 50px;
}
  }
}we

.contacts-header__item + .contacts-header__item {
  @media screen and (min-width: $desktop) {
    margin-left: 50px;
  }
}
.contacts-header__link {
  color: $color-primary-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-accent;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.contacts-header__icon {
  fill: $color-primary-text;
  margin-right: 10px;
  .contacts-header__link:hover & {
    fill: $color-accent;
  }
}
