$color-primary-text: #757575;
$color-title-text: #212121;
$color-accent: #2196f3;
$color-primary-bg: #ffffff;
$color-dark-bg: #2f303a;
$color-secondary-bg: #f5f4fa;
$color-contacts-footer-text: rgba(255, 255, 255, 0.6);
$color-icon-fill: #afb1b8;
