.features {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.features__item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-secondary-bg;
  }
}

.icon-antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/features/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}

.features__item-description {
  margin-top: 0px;
  margin-bottom: 0px;
}
