.footer-element {
  @media screen and (max-width: 1199px) {
    text-align: center;
    padding-top: 60px;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 165px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
    margin-right: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    &:nth-child(2) {
      margin-right: 0px;
    }
  }
}

.page-footer__title {
  margin-bottom: 20px;
}
.contacts-footer {
  display: block;
}
