.hero {
  text-align: center;
  background-color: $color-dark-bg;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/mobile/Header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/mobile/Header-img@2x.jpg);
  }
}
@media screen and (min-width: $tablet) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/tablet/Header-img.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/tablet/Header-img@2x.jpg);
    }
  }
}
@media screen and (min-width: $desktop) {
  .hero {
    text-align: center;
    background-color: $color-dark-bg;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/desktop/Header-img.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/desktop/Header-img@2x.jpg);
    }
  }
}

.hero__content {
  display: inline-block;
  border: 0px;
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 360px;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: $color-primary-bg;
  text-transform: uppercase;
  @media screen and (max-width: 1199px) {
    @include font(26px, 1.62, 0.06em, 900);
  }
  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36, 0.06em, 900);
  }
}
