.regular-clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.regular-clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  margin: 15px;
  border: 1px solid $color-icon-fill;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $color-accent;
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}
.regular-clients__link {
  background-color: $color-primary-bg;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
