.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--hidden {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $color-title-text;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
