.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background: $color-primary-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

// .team__item:nth-child(4n) {
//   margin-right: 0px;
// }

// .team__item:nth-last-child(-n + 4) {
//   margin-bottom: 0px;
// }
.team-title {
  color: $color-title-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__member-desc {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  text-align: center;
}
